.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EDEDED;
  padding: 21px 30px;
}

.header .logo img{
  width: 58px;
  height: 48px;
}

.buttonLivros{
  display: flex;
  align-items: center;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}



h1{
  color: #082f49;
  font-weight: 1000;
}